body {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
}
.Main {
  background-color: #fecff1 ;
  border-style: outset;
  border-color: #8244ff;
  border-radius: 20px;
  color: black;
  padding: 30px 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 1px 10px 1px 10px;
  margin: 1px;
  background-color: #f4a3de;
  border-style: outset;
  border-color: #8244ff;
  border-radius: 20px;
  text-decoration-line: none;
}

.cont1 {
  background-color: #ffffff;
  border-style: solid;
  border-color: #e5e5e5;
  border-radius: 20px;
  margin-bottom: 5px;
}

.cont2 {
  background-color: #ffffff;
  border-style: solid;
  border-color: #e5e5e5;
  border-radius: 20px;
}

input {
  background-color: #e5e5e5;
  border-style: solid;
  border-color: #8244ff;
  border-radius: 20px;
  height: 30px;
}
button {
  background-color: #8244ff;
  color: #ffffff;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  height: 30px;
}

td {
  float: left;
  margin-left: 15px;
}

h3 {
  margin-left: 15px;
}

.final {
  float: right;
  position: relative;
}

.cont {
  width: 55px;
  height: 20px;
  margin: 10px;
}

.tudo {
  padding: 10px;
}

#Contagens {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7%;
  width: 30%;
}

.resultado {
  margin: 20%;
}

.x{
  margin-left: 1px;
}

textarea{
  width: 500px;
  height: 150px;
}
.marmitas{
  border-style: groove;
  border-color: #e5e5e5;
  border-radius: 20px;
  margin-bottom: 5px;
  width: 100%;
}
.marmitas td{
  border-style: groove;
  border-radius: 10px;
  border-color: #e5e5e5;  
  text-align: center;
  float: none;
}
.marmitas tr{
  border-radius: 20px;
  border-style: groove;
  border-color: #e5e5e5;  
}

.marmitas th{
  border-style: groove;
  border-radius: 20px;
  border-color: #e5e5e5; 
  background-color: #f4a3de; 
}